.desktop {
    position: relative;
}

.window {
    background-color: #fff;
    position: absolute;
    display: grid;
    grid-template-rows: var(--window-title-size) 1fr;
    grid-template-areas:
        "window_head"
        "window_body";
}

.window-fullsize {
    height: 100%;
    inset: 0;
}

.window-windowed {
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}

.window_head {
    grid-area: window_head;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "window_title window_controls";
    height: var(--window-title-size);
    background-color: var(--background-color);
    cursor: grab;
}

.window_title {
    grid-area: window_title;
    display: grid;
    grid-template-columns: min-content auto 1fr;
    grid-template-rows: 1fr;
    gap: 0.5rem;
    grid-template-areas:
        "window_title-icon window_title-name .";
    height: var(--window-title-size);
    padding-left: 0.25rem;
}

.window_title-icon {
    grid-area: window_title-icon;
    height: var(--window-title-size);
}

.window_title-icon img {
    height: var(--window-title-size);
}

.window_title-name {
    grid-area: window_title-name;
    display: grid;
    place-items: center;
    height: var(--window-title-size);
    font-weight: 500;
    font-size: calc(var(--window-title-size) * 0.5);
}

.window_controls {
    aspect-ratio: 3/1;
    height: var(--window-title-size);
    grid-area: window_controls;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "window_controls-minimize window_controls-resize window_controls-close";
}

.window_controls>div {
    cursor: pointer;
    height: var(--window-title-size);
    display: grid;
    place-content: center;
}

.window_controls>div:hover {
    background-color: var(--accent-color);
}

.window_controls img {
    /* The icons coming from yare aren't fully white, fixing that */
    filter: brightness(10);
    height: calc(var(--window-title-size) * 0.75);
}

.window_controls-minimize {
    grid-area: window_controls-minimize;
}

.window_controls-resize {
    grid-area: window_controls-resize;
}

.window_controls-close {
    grid-area: window_controls-close;
}

.window_controls-close>img {
    fill: #fff;
}

.window_controls-close:hover {
    background-color: red;
}

.window_body {
    grid-area: window_body;
}

.window_body iframe {
    width: 100%;
    height: 100%;
    border: none;
}