main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "desktop"
        "dock";
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    inset: 0px;
    /**
    * @TODO This background stuff needs to be moved from dock.css somewhere more useful
    */
    background-color: var(--accent-color);
    background-image: url("/res/img/wall.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.desktop {
    grid-area: desktop;
}

.dock {
    grid-area: dock;
    background-color: rgba(40, 44, 54, 0.9);
    display: grid;
    padding: 0 0.25rem;
    grid-template-columns: 50px 10px 1fr min-content;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "dock-home dock-seperator dock-shortcuts dock-right";
}

.dock-home {
    grid-area: dock-home;
    cursor: pointer;
    fill: #fff;
    transition: 0.1s;
}

.dock-home:hover {
    fill: var(--accent-color);
    scale: 1.1;
}

.dock-home-logo {
    width: 50px;
    height: 50px;
}

.dock-seperator {
    grid-area: dock-seperator;
}

.dock-seperator-line {
    width: 1px;
    height: 40px;
    margin: 5px;
    background-color: #fff;
}

.dock-shortcuts {
    grid-area: dock-shortcuts;
}

.dock-right {
    grid-area: dock-right;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "dock-time"
        "dock-date";
    font-weight: 400;
    text-align: center;
    padding-right: 0.5rem;
    transform: translate(0, -0.1rem);
}

.dock-time {
    grid-area: dock-time;
    text-align: center;
    transform: translate(0, 0.4rem);
    font-size: 0.95rem;
}

.dock-date {
    grid-area: dock-date;
    font-size: 0.75rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 0.25rem;
}