main {
    height: 100%;
    width: 100%;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: 1fr 4rem;
    grid-template-rows: auto 1fr auto;
    gap: 0px 1rem;
    grid-auto-flow: row;
    grid-template-areas: "main-mainview main-categories" "main-mainview ." "main-mainview main-arrows";
}


/* 
Category buttons
*/

.main-categories {
    grid-area: main-categories;
    background-color: var(--background3-color);
    font-size: 2rem;
    border-radius: 2rem;
}

.main-categories>i {
    display: grid;
    place-content: center;
    margin: auto;
    aspect-ratio: 1/1;
    margin-top: 0.25rem;
    cursor: pointer;
    transition: 0.5s color;
}

.main-categories>i:hover {
    color: var(--accent-color);
}


/* 
Arrow buttons
*/

.main-arrows {
    grid-area: main-arrows;
    background-color: var(--background3-color);
    font-size: 2rem;
    border-radius: 2rem;
}

.main-arrows>i {
    display: grid;
    place-content: center;
    margin: auto;
    aspect-ratio: 1/1;
    margin-top: 0.25rem;
    cursor: pointer;
    transition: 0.5s color;
}

.main-arrows>i:hover {
    color: var(--accent-color);
}


/* 
Left side
*/

.main-mainview {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "main-profile main-slides";
    grid-area: main-mainview;
    background-color: var(--accent-color);
    border-radius: 3rem;
}


/* 
Profile
*/

.main-profile {
    grid-area: main-profile;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "profile-image" "profile-title" "profile-socials";
}

.profile-image {
    grid-area: profile-image;
    display: grid;
    place-items: center;
    margin-top: 15%;
}

.profile-image img {
    width: 65%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.25rem solid var(--accent2-color);
}

.profile-title {
    grid-area: profile-title;
    display: grid;
    place-items: center;
}

.profile-title div {
    width: fit-content;
    height: fit-content;
}

.profile-title p,
.profile-title h1 {
    text-align: center;
}

.profile-socials {
    grid-area: profile-socials;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem;
    padding-bottom: 3rem;
}

.profile-socials i {
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.5s;
    display: inline-block;
    margin: 0.25rem 0.5rem;
}

.profile-socials i:hover {
    color: var(--background2-color);
}


/* 
Slide-side
*/

.main-slides {
    grid-area: main-slides;
    background-color: var(--background2-color);
    border-radius: 3rem;
}