@media screen and (max-width: 1200px) {
    .profile-socials i {
        font-size: 2.5vw !important;
    }
}

@media screen and (max-width: 1000px) {

    html,
    body {
        margin: auto;
        padding: inherit;
        overflow: hidden;
    }

    main {
        grid-template-areas:
            "main-arrows . main-categories"
            "main-mainview main-mainview main-mainview";
        grid-template-columns: 11rem 1fr calc(80px * 4 + 9px * 3);
        grid-template-rows: 5rem 1fr;
        gap: 0.5rem;
        margin: 0.5rem;
        width: calc(100% - 1rem);
        height: calc(100% - 1.25rem);
    }

    .main-slides {
        height: calc(100vh - 7.5rem);
    }

    .main-arrows {
        flex-direction: column;
    }

    .main-arrows>i {
        height: 100%;
        display: inline-flex;
        aspect-ratio: 1/1;
        rotate: 270deg;
        place-items: center;
        margin-top: 0;
    }

    .main-categories>i {
        height: 100%;
        display: inline-flex;
        aspect-ratio: 1/1;
        place-items: center;
        margin-top: 0;
    }

    .main-mainview {
        grid-template-areas:
            "main-slides ";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .main-profile {
        display: none;
    }

    #themeswitch,
    #mail-button {
        display: none;
    }

    .slide {
        overflow: scroll;
    }

    #copyright-notice {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    html,
    body {
        margin: auto;
        padding: inherit;
        /* overflow: auto; */
    }

    main {
        grid-template-areas:
            "main-mainview"
            "main-categories";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5rem;
        gap: 0.5rem;
        margin: 0.5rem;
        width: calc(100% - 1rem);
    }

    .main-arrows {
        flex-direction: column;
        display: none;
    }

    .main-categories {
        display: flex;
    }

    .slide {
        overflow: auto;
        max-height: calc(100vh - 8rem);
        max-height: calc(100dvh - 8rem);
    }

    .portfolio-skills_table {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "portfolio-core_skills" "portfolio-other_skills";
    }

    .about_me-top {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "aboutme-title"
            "aboutme-text"
            "aboutme-facts";
        margin: 1.5rem;
        padding: 1.5rem;
        overflow-x: hidden;
    }
}